// when element is initialised
.headroom {
    transition: all 300ms linear !important;
}
 // when scrolling up
.headroom--pinned {
  @include transform(translateY(0%) !important);
	height:80px;
	@media #{$small-only}{
	height:58px;
	}	
	@media #{$medium-only}{
	height:69px;
	}	
}
   // when scrolling down
.headroom--unpinned {
  height:80px;
	@media #{$small-only}{
	height:58px;
	}	
	@media #{$medium-only}{
	height:69px;
	}	 
}
// when above offset
.headroom--top{
	background:none;
}

// when below offset
.headroom--not-top{
	background:rgba(0,0,0,0.88);
	height:80px;
	@media #{$small-only}{
	height:58px;
	}	
	@media #{$medium-only}{
	height:69px;
	}	

	.top-bar-section{
		margin-top:0px;
		//padding-top:30px;
		transition: all 300ms linear !important;
		&.nv-lnks ul{
			@media #{$medium-up}{
			padding-right:0px !important;
			padding-top:21px;
		}
			@media #{$medium-only}{
				padding-top:21px;
				padding-right:0px !important;
			}
			a{
				@media #{$large-up}{
				padding-top:4px !important;
				}
			}
		}
	}
	li.name #logo{
		transition: all 300ms linear !important;
		margin-top:0px;
		@media #{$medium-only}{
		width:80px;
		}
		@media #{$large-up}{
		width:100px;
		}
	}
}

.top-bar-section{
	transition: all 300ms linear !important;
		@media #{$small-only, $medium-only}{
			font-size:9px;
		}
		@media #{$small-only}{
			margin-left:4px;
			padding:4px;
		}

}


.top-bar button.lines-button{
	@media #{$small-only}{	
	padding-top:19px !important;
	}
}


//.navigation__primary.fixed.headroom.headroom--not-top.headroom--pinned{
//	background:rgba(0,0,0,0.88);
//}
.nv-lnks li:first-child a{
	padding-left:0px !important;
}





