@function compact($args...) {
  $first: nth($args, 1);
  $sep: comma;
  $list: ();

  @if length($args) == 1 and type_of($first) == 'list' {
    $args: $first;
    $sep: list-separator($args);
  }

  @for $index from 1 through length($args) {
    $arg: nth($args, $index);

    @if $arg {
      $list: append($list, $arg, $sep);
    }
  }

  @return $list;
}

@mixin fix-ios-glitch($zindex: 30px) {
  @include transform(translateZ($zindex) scale(1));
  -webkit-backface-visibility: hidden;
  @include transform-style(preserve-3d);
}

@mixin vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}//@include vertical-align;
@mixin horizontal-align {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
//@include horizontal-align;
@mixin hv-align {//Aligns horiz & Vert Cent
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
//@include hv-align;
