@charset "UTF-8";

@import "../bower_components/compass-mixins/lib/compass/css3";
@import "../bower_components/compass-mixins/lib/compass/layout";

@import "font-awesome/font-awesome";
@import "fonts";

@import "animate";
@import "../bower_components/animate-sass/animate";
@import "animations/rubberBand";

@import "settings";
@import "mixins";

@import "foundation/components/grid";
//@import "foundation/components/accordion";
@import "foundation/components/alert-boxes";
//@import "foundation/components/block-grid";
@import "foundation/components/breadcrumbs";
//@import "foundation/components/button-groups";
@import "foundation/components/buttons";
//@import "foundation/components/clearing";
//@import "foundation/components/dropdown";
//@import "foundation/components/dropdown-buttons";
//@import "foundation/components/flex-video";
@import "foundation/components/forms";
//@import "foundation/components/icon-bar";
//@import "foundation/components/inline-lists";
//@import "foundation/components/joyride";
//@import "foundation/components/keystrokes";
@import "foundation/components/labels";
//@import "foundation/components/magellan";
//@import "foundation/components/orbit";
//@import "foundation/components/pagination";
@import "foundation/components/panels";
//@import "foundation/components/pricing-tables";
//@import "foundation/components/progress-bars";
//@import "foundation/components/range-slider";
//@import "foundation/components/reveal";
@import "foundation/components/side-nav";
//@import "foundation/components/split-buttons";
//@import "foundation/components/sub-nav";
@import "foundation/components/switches";
@import "foundation/components/tables";
//@import "foundation/components/tabs";
//@import "foundation/components/thumbs";
//@import "foundation/components/tooltips";
@import "foundation/components/top-bar";
@import "foundation/components/type";
//@import "foundation/components/offcanvas";
@import "foundation/components/visibility";

@import "components/navigation/primary";
@import "components/navigation/secondary";
@import "components/navigation/footer";
@import "components/navigation/breadcrumbs";
@import "components/sliders/standard";
//@import "components/sliders/interchange";
@import "components/sliders/internal";
@import "components/forms/standard";
@import "components/ecommerce/category";
@import "components/ecommerce/categories";
@import "components/ecommerce/products";
@import "components/ecommerce/product";
@import "components/ecommerce/cart";
@import "components/navigation/checkout";
@import "components/ecommerce/checkout";
@import "components/blog/articles";

@import "effects/buttons";
@import "headroom";

.switch {
  @include switch;
}

.container{ //Allows for no sticky footer
  background:$footer-bg;
}
.wrapper{ //1st layer of background
  background:#fff;
}
body {
  opacity: 0;
  @include single-transition(opacity);
  &.body-active {
    opacity: 1;
  }
  &.modal-open {
    overflow: hidden;
    //position: fixed;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

//Standard Typeography
h1{
  font-weight:100;
}
ul{
  margin-left:35px;
}
.cycle h1{
  color:#fff;
  text-transform:uppercase;
  font-weight:100;
  font-size:19px;
  padding:0;
  margin: 0;
  @media #{$medium-up}{
    color:$primary-color;
    font-size:220%;
    text-transform: none;
  }
}
main table {
  @include table();
  width: 100%;
}
main a, , footer a {
    @include single-transition(color);
}
main p a{
  color:$secondary-color;
  @include single-transition(color);
}

img{
  color:#fff;
  outline:none;
}
img:not([src]), img([src]), img([data-src]){
  border:none;
  visibility: hidden;
}
.lazy, .lazy-hidden {//fix for grey border on lazy load
  visibility:hidden;
}
.classLazyHidden{
  visibility:hidden;
}
.clear{
  clear:both;
}
a:focus{
  outline:none !important;
}


 .btn-space{ //removes overlap on input field with button
    padding-right: 50px;
 }
  .btn-space-2{ //removes overlap on input field with button
    padding-right: 91px;
 }
 input.button.discount{
  position:absolute;
  top: 25px;
  right:0;
  z-index: 2;
  padding: 12px 20px;
 }


main table tfoot tr td, main table tfoot tr th {
    color: #222;
    font-size: .875rem;
    font-weight: normal;
    padding: .5rem .625rem .625rem;
}
form.checkout{
  position:relative;
}

input{
  font-family: $font-family-sans-serif;
  text-transform:uppercase;
}
