.ecommerce__category {
	max-width:$row-width;
	margin:0 auto;
	padding-top:32px;

	@media #{$medium-up} { 
	  padding-top:62px;
	}   

  a.category-card .overlay {
    @media #{$small-only, $medium-only} {
   	  font-size: 0.7em;
      line-height: normal;
    }
  }

  h1 {
    text-align:center;
    font-size:18px;
    text-transform:uppercase;
    border-bottom:1px solid $footer-grey;
    line-height:1px;
    max-width:$row-width;
    margin:15px auto 10px auto;

    span {
      background:#fff;
      padding:10px;
    }

    @media #{$medium-up} {
      margin-bottom:30px;
      margin-top:0px;
    }

    @media #{$small-only} {
      margin-bottom:30px;
    }
  }
}
