.shipping-checkout{
	h1{
		color:$primary-color !important;
		text-transform: uppercase;
		margin-bottom:0px;
		margin-top:40px;
	}
}	

.shipping-con{
	padding-top:20px;
	text-align:center;
	display:block;
	margin-bottom:25px;
	h1{
		color:$primary-color !important;
		text-transform: uppercase;
		margin-bottom:10px;
		letter-spacing:-1px;
	}
	h2{
		color:$primary-color !important;
		text-transform: uppercase;
		margin-bottom:0px;
		font-size:1.5rem;
		font-weight:100;
		letter-spacing:-1px;
		span{
			font-size:1.2rem;
		}

	}
	form{
		display: block;
		margin-bottom:30px;
	}
}

.check a.button, .check .button{
	margin-bottom:0;
}
.check{
	@media #{$medium-up}{
		margin-bottom:30px;
	}
}
.top-check{
	margin-top:30px;
}

#fb-auth, #in-auth{
	padding-top:25%;
	padding-bottom:25%;
	background:#3b5998;

	&:hover{
		background:darken(#3b5998, 12%);
	}

	i{
	  font-size:5rem !important;
  }
}

#in-auth{
	background:#49789d;

	&:hover {
		background:darken(#49789d, 12%);
	}
}
.cart.sum{
  margin-top:20px;
  margin-bottom:30px;
}

main table tfoot tr td, main table tfoot tr th {
    color: #222;
    font-size: .875rem;
    font-weight: normal;
    padding: .5rem .625rem .625rem;
}
