.ecommerce__products {
  > row {
	  margin-bottom:$column-gutter;
  }

  .category-card {
    z-index:1;
    display:block;
    overflow:hidden;
    height: 0;
    padding-bottom: 100%;
    @include transform(scale(1));

    @media #{$large-up} {
      margin-top:$column-gutter;
    }

    img {
      width:100%;
      position: absolute;
      height: 100%;
      max-width: none;
      width: inherit;
    }

    .background {
      @media #{$medium-up} {
        transition: transform 1.7s cubic-bezier(0.230, 1.000, 0.320, 1.000);
        @include transform-origin(50% 50%);
        @include transform(scale(1));
      }

      height: 0;
      padding-bottom: 100%;
    }
      
    &:hover .background{
      @media #{$medium-up} {
        @include transform-origin(50% 50%);
        @include transform(scale(1.2));
      }
    }

    .overlay{
      background: rgba(0,0,0,0.8);
      bottom:0;
      color:#fff;
      font-weight:100;
      padding:5px 15px;
      position:absolute;
      text-transform: uppercase;
      width:100%;
      z-index: 2;
      @include transform(translateZ(100px));

      @media #{$small-only, $medium-only}{
        font-size: 0.7em;
        line-height: normal;
      }
    }
  }
}
