.ecommerce__product {
  margin-top:$column-gutter / 2;
	width:100%; //allows for sliders - related products
	overflow:hidden;

  .magnify {
    position: relative;
    display: inline-block;
  }

  .magnify .magnify-lens {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 1px solid #ececec;
    cursor: none;
    display: none;
    z-index: 10000;
  }

  .magnify .magnify-lens.loading {
    background: #333 !important;
    opacity: .75;
  }

  .magnify .magnify-lens.loading:after {
    /* Loading text */
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: #fff;
    content: 'Loading...';
    font: italic normal 16px/1 Calibri, sans-serif;
    text-align: center;
    text-shadow: 0 0 2px rgba(51, 51, 51, .8);
    text-transform: none;
  }

  .featured.thumbnail {
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;

    .wish, .back {
      position: absolute;
      z-index: 101;
      right: 11px;
      top: 11px;
      margin:0;
    }

    .back {
      left:11px;

      .fa-stop {
        color:$footer-grey;
      }

      &:hover {
        .fa-stop {
          color:$primary-color;
        }

        .fa-angle-left {
          color:#fff;
        }
      }
    }

    .wish {
      .fa-stop {
        color:$footer-grey;
      }

      &:hover {
        .fa-heart {
          color:#f6921e;
        }
      }
    }

    .overlay {
      position:absolute;
      bottom:0;
      z-index: 200;
      width:100%;
      color:#fff;
      text-transform: uppercase;
      font-weight:100;
      padding:5px 15px;
      background: rgba(225,225,225,0.8);
    }
  }

	.description {
		border-bottom:1px solid $footer-grey;
		padding:35px 15px;

		@media #{$medium-up} {
			background:none;
			border:none;
			padding:0px 0px 45px 0px;
		}
	}

	.label {
		background:#fff;
		color:$primary-color;
		border:1px solid #cfcfcf;
		border-radius:$global-radius;
		margin-bottom:3px;
	}

	.title {
		background:$primary-color;
		min-height:40px;
		color:#fff;
		padding:15px 0 15px 15px;
		display:block;

		@media #{$medium-up} {
			background:none;
			padding-left:0px;
			color:$primary-color;
		}

		.price {
			font-style:italic;
			font-weight:100;
			padding-right:20px;
		}

		h1 {
			color:#fff;
			text-transform:uppercase;
			font-weight:100;
			font-size:19px;
			padding:0;
			margin: 0;

			@media #{$medium-up} {
				color:$primary-color;
				font-size:220%;
				text-transform: none;
			}
		}
	}

  .gap {
	  margin-top:35px;
  }

  .related {
    position:relative;
    overflow:hidden;
    overflow-x:auto;
    -webkit-overflow-scrolling: touch;
    height:170px;
    width:100%;

    .related-imgs {
      position:absolute;
      width:200%;
      height:170px;
    }

		img {
      float:left;
      max-width:35%;
      height:100%;
    }
	}

  .titles.text-center{
    margin: 0 auto;
    padding:1rem 0;
    background:$footer-grey;
    border-top:1px solid darken($footer-grey, 4%);

    @media #{$medium-up} {
    background:lighten($footer-grey, 2%);
    border-top:1px solid darken($footer-grey, 4%);
    }
  }

  .slider-con {
    padding-bottom:18px;
    padding-top:25px;	

    @media #{$medium-up} {
      border-bottom:none;
    }
  }

  .quantity {
    background:#fff;
    text-align:center;
    font-size:24px;
    font-weight:100;
    margin-bottom:45px;
    border-top:1px solid $footer-grey;	
    border-bottom:1px solid $footer-grey;	

    @media #{$medium-up} {
			border-top:1px solid $footer-grey;	
			border-bottom:1px solid $footer-grey;	
			margin-bottom:30px;
		}

    button {
      display:block;
      width:60px !important;
      height:60px !important;
      margin-bottom: 0;
      padding:0px !important;
      outline:none;
      @include single-transition(all, 0.2s, ease-out);

      @media #{$medium-up} {
        width:50px !important;
        height:50px !important;
      }

      &:hover {
        background:darken($primary-color, 10%);
      }
    }

	  .amount-centerd{
      width:32px;
      line-height: 60px;
      display: block;
      margin:0 auto;
      text-align: center;
      box-shadow: none;
      border: 0;
      padding: 0;

		  @media #{$medium-up} {
			  line-height: 50px;
			}
    }
  }

  .l-space {
    @media #{$large-up} {
      margin-top:20px !important;
    }
  }

  .options {
    &.size {
      ul li {
        text-align: center;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }

      a {
        color: $gainsboro;
        border: 2px solid $gainsboro;
        padding: 11px;
        width: 50px;
        height: 50px;
        display: inline-block;
        text-align: center;
        margin-right: 5px;
        position:relative;
        @include single-transition(border);

        &.disabled{
          opacity:0.3;
          cursor: default;
          pointer-events:none;
        }

        &.disabled:before{
          content:'x';
          opacity:1;
          top:-22px;
          left:10px;
          font-weight:100;
          font-size:57px;
          color: $alert-color;
          position:absolute;
          cursor: default;
          pointer-events:none;
        }

        &:hover{
          color:$iron;
          border: 2px solid $iron;
        }

        &.active{
          color: $base;
          border-color:$base;
        }
      }
    }
  }

  .options a {
    margin-bottom:8px;
  }

  .colour.options {
    @media #{$small-only, $medium-only}{
      margin-bottom:25px;
    }

    img {
      cursor:pointer;
      margin-right:5px;
      @include single-transition(opacity);
      opacity:0.6 !important;
      border: 2px solid $iron;

      &.disabled {
        opacity:0.3 !important;
        cursor: default;
        pointer-events:none;
      } 

      &:hover {
          opacity:0.75 !important;   
      }

      &.cycle-pager-active {
        opacity:1 !important;
        border: 2px solid $base;
      }
    }
  }

  //Social
  .pin-btn {
    margin-top:4px;
    float:left;
    margin-left:10px;
  }

  .fb-share-button {
    float:left;
  }

  .twitter-share-button {
    color:#fff;
    margin-top:4px;
    float:left;
    margin-left:10px;
  }
}
