.effect.buttons {
  .button-wrap {
    margin-bottom: 3em;
  }

  .button.wishlist, .button.add-to-cart {
    height: 60px;
  }

  .button {
    background: none;
    border: none;
    width: 100%;
    outline: none;
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .button--round {
    width: 150px;
    height: 150px;
  }

  .button__text {
    display: inline-block;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 100;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  .morph-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

  }

  .button--line .morph-shape:hover svg {
    
    &.orange {
      fill: #d67808;
    }

    &.black {
      fill: #161616;
    }

    &.grey {
      fill: #e1e1e1;
    }
  }

  .button--line .morph-shape svg {
    @include single-transition(fill);

    &.orange {
      fill: #f7941e;
    }

    &.black {
      fill: #303030;
    }

    &.grey {
      fill: #f3f3f3;
    }

    fill: #000;
    //stroke: #fff;
    //stroke-width: 4px;
    //stroke-linecap: round;
    width: 112%;
    height: 125%;
    margin-top: -3%;
    margin-left: -5.5%;
  }

  /*.button--line:nth-child(2) .morph-shape svg {
    fill: #938edc;
  }

  .button--fill .morph-shape svg {
    fill: #44474D;
  }

  .button--fill:nth-child(4) .morph-shape svg {
    fill: #202020;
  }*/

  .button--round .morph-shape svg {
    stroke-width: 7px;
  }

  /* Example for effect */

  .button--anim-1 .button__text {
    -webkit-transition: -webkit-transform 0.15s;
    transition: transform 0.15s;
  }

  .button--anim-1:active .button__text {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
}
