.navigation__breadcrumbs {
	background:$crumb-bg;
	border-bottom: 1px solid $crumb-border-color;

	@media #{$small-only}{
		border-top: 1px solid $crumb-border-color;
		border-bottom: none;
		background:#fff;
	}

  .breadcrumbs{
    border-top:none;
    border-left:none;
    border-right:none;
    max-width:$row-width;
    margin:0 auto;
    border-bottom:none;

    a {
      @include single-transition(color);
    }
  }

  .breadcrumbs>:before {
    @media #{$small-only} {
       margin: 0 .55rem;
    }
  }
}
