.navigation__checkout {
	margin-top:10px;

  .fa-lg {
    font-size:245%;
    padding-bottom:105px;
    color:#999;
    @include single-transition(color);

    &:hover {
      color:$primary-color;
    }

    &.disabled {
      color:#999;
      cursor: default;
    }

    @media #{$small-only} {
      font-size:180%;
      padding-bottom:80px;
    }

    &.active {
      color:$primary-color;
    }

	  span {
      font-size:0.8rem;
      margin-top:-30px;
      display:block;

      @media #{$small-only} {
        margin-top:-20px;
        font-size: 0.7rem;
      }
	  }

	  .fa-circle {
		  color:$footer-grey;
	  } 
  }
}

