footer{
	background:$footer-bg;
	color:#b3b3b3;
	color:#888;
	padding:0 15px;
  @media #{$large-up}{
		margin-top:60px;
		padding-top:10px;
	}
	.input__label-content .fa.fa-envelope{
		margin-right:5px;
		margin-left:-3px;
	}
	//input[type=email]{
		//border:none;
		//padding-left:37px;
	//}
	input.button{
		background:#fff;
	}
	a{
	color:#b3b3b3;
	color:#888;
	color: scale-color($footer-bg, $lightness: 80%);
		&:hover{
		color: scale-color($footer-bg, $lightness: 50%);		
		}
	}
	svg{
  	cursor:pointer;
  }
	.social{
		text-align:center;
		padding-top:24px;
		//padding-bottom:20px;
		@media #{$large-up}{
			padding-top:24px;
			padding-bottom:24px;
		}
		a{
		color: scale-color($footer-bg, $lightness: 40%);
		}
		a:hover{
			color: scale-color($footer-bg, $lightness: 80%);
		}
		.fa-inverse{
		color: scale-color($footer-bg, $lightness: 9%);
		}
	}
}
.clear{
	clear:both;
}
.copy, .credits{
	font-size:13px;
	font-weight:100;
	padding-top:5px;
	padding-bottom:15px;
	float:left;
}
.credits{
	float:right;
	img{
		margin-top: -2px;
    margin-left: 2px;
     &:hover{
      animation-name: rubberBand;
  	}
	}
}

.columns{
	overflow:hidden;
}
.info-nav{
	text-transform:uppercase;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
	border-top:1px solid scale-color($footer-bg, $lightness: 5%);
	border-bottom:1px solid scale-color($footer-bg, $lightness: 5%);
	margin-bottom:10px;
	font-size:12px;
	font-weight:100;
	a{
		margin:0 5px;
	}
}
.form-max{
	padding-top:10px;
	max-width:320px;
	@media #{$large-up}{
		//display:none !important;
		max-width:540px;
		text-align: center;
	}
}
.large-form{
	max-width:350px;
	margin-bottom:25px;
	@media #{$large-up}{
		margin-bottom:0;
	}
}

.large-form, .small-form{
	position:relative;
}
.large-form:before, .small-form:before{
	//font-family:'fontawesome';
	//content:$fa-var-envelope;
	//font-size:22px;
	//position:absolute;
	//z-index:10;
	//left:8px;
	//top:2px;
}

button.subscribe{
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 1;
  padding:13px 15px;
 }
 .btn-space{ //removes overlap on input field with button
    padding-right: 50px;
 }
  .btn-space-2{ //removes overlap on input field with button
    padding-right: 91px;
 }
.wip img {
  &:hover{
    @include rubberBand($duration, 1.4s, $function, $fill, $visibility);
  }
}
