html, body, .perspective {
	width: 100%;
	height: 100%;
}

.perspective {
	background: #aaa;
	position: relative;
  z-index: 1;
}

.container {
	background: #fff;
	min-height: 100%;
	position: relative;
	outline: 1px solid rgba(0,0,0,0);
	z-index: 10;
	@include transform(translateZ(0) translateX(0) rotateY(0deg)); /* reset transforms (Chrome bug) */
}

.container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	opacity: 0;
	background: rgba(0,0,0,0.2);
	/* the transition delay of the height needs to be synced with the container transition time */
	@include transition(opacity 0.4s, height 0s 0.4s);
}

.wrapper {
	position: relative;
}

.component {
	margin: 0 auto;
	width: 60%;
	text-align: justify;
	font-size: 1.5em;
}

/* Modal view */
.perspective.modalview {
	position: fixed;
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.modalview .container {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
	@include backface-visibility(hidden);
}

.modalview .wrapper {
	-webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
  pointer-events: none;
}

.animate .container::after {
	opacity: 1;
	height: 101%;
	@include transition(opacity 0.3s);
}

/* Outer Nav */
.outer-nav {
	position: absolute;
	height: auto;
	font-size: 2em;
}

.outer-nav.vertical {
	top: 50%;
	@include transform(translateY(-50%));
	@include transform-style(preserve-3d);
}

.outer-nav.horizontal {
	left: 50%;
	width: 75%;
	max-width: 1000px;
	text-align: center;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.outer-nav.left {
	left: 18%;
}

.outer-nav.right {
	right: 25%;
}

.outer-nav.top {
	top: 25%;
}

.outer-nav.bottom {
	bottom: 25%;
}

.outer-nav a {
	display: inline-block;
	white-space: nowrap;
	font-weight: 300;
	margin: 0 0 30px 0;
	color: #aaa;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	text-transform:uppercase;
}

.outer-nav a:hover, .outer-nav a.active {
	color: #000;
}

.outer-nav.vertical a {
	display: block;
}

.outer-nav.horizontal a {
	margin: 15px 20px;
}

/* Effect airbnb */
.effect-airbnb {
	background: #b8b6b4;
	background: #fff;
}

.effect-airbnb .container {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.effect-airbnb.animate .container {
	-webkit-transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
	transform: translateZ(-1500px) translateX(100%) rotateY(-45deg);
}

.no-csstransforms3d .effect-airbnb.animate .container {
	left: 75%;
}

.effect-airbnb .outer-nav a {
	opacity: 0;
	-webkit-transform: translateX(-150px);
	transform: translateX(-150px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.effect-airbnb.animate .outer-nav a {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.effect-airbnb.animate .outer-nav a:nth-child(2) {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}

.effect-airbnb.animate .outer-nav a:nth-child(3) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}

.effect-airbnb.animate .outer-nav a:nth-child(4) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.effect-airbnb.animate .outer-nav a:nth-child(5) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

.effect-airbnb.animate .outer-nav a:nth-child(6) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.effect-airbnb.animate .outer-nav a:nth-child(7) {
	-webkit-transition-delay: 0.24s;
	transition-delay: 0.24s;
}

/* Media Queries */
@media screen and (max-width: 77em) {
	
	.outer-nav.top {
		top: 15%;
	}

	.outer-nav.bottom {
		bottom: 15%;
	}
}

@media screen and (max-width: 36.625em), screen and (max-height: 41.75em) {

	.outer-nav.top {
		top: 5%;
	}

	.outer-nav.bottom {
		bottom: 5%;
	}
	
	.outer-nav.horizontal {
		font-size: 1.7em;
		width: 6.2em;
	}

	.outer-nav.horizontal a {
		display: block;
		text-align: left;
	}

}

@media screen and (max-width: 31em), screen and (max-height: 36.2em) {
	.outer-nav.horizontal,
	.outer-nav.vertical {
		font-size: 1.2em;
		width: 6.8em;
	}

	.outer-nav.right {
		right: auto;
		left: 50%;
	}
}

@media screen and (max-height: 31.6em) {
	.outer-nav a {
		margin-bottom: 20px;
	}
}

.fake-header {
  display: none;
}

.modalview .fake-header {
  display: block;
}

header{
	position:relative;
	z-index:2;
}
.modalview main {
  //padding-top: 62px;
  margin-top: 0;
}

main{
	margin-top:62px;

	@media #{$large-up} { 
	  padding-top:103px;
		margin-top:0px;
	} 

	position:relative;
	z-index:1;	
}

//Top-Bar Line Height Fix
.top-bar-section {
	@media #{$medium-up} { 
	margin-right:72px;
	margin-top:23px;
	}
	@media #{$large-up}{
  margin-right:120px;
  margin-top:39px;
  }	  

li a{
	line-height:38px !important;
		@media #{$large-up}{
  	line-height:62px !important;
		}
	} 
}


header .fixed{
	transition: background 0.4s;
  @include transform(scale(1));
  background:rgba(255,255,255,0.96);

  &.white {
    background: rgba(255,255,255,0);
  }
}

//Stupid Nav opposite direction override
.top-bar {
  overflow: inherit;
  max-width:1300px;
  margin:0 auto;
  background:none !important;
	@media #{$large-up} { 
	height:102px;
	}  
	ul.title-area{
		@media #{$medium-up} { 
			width:100%;
		}
	}
}
.top-bar .toggle-topbar{
  right: none;
  left: 0;
}
.top-bar .toggle-topbar.menu-icon a {
  padding: 0 46px 0 15px;
}
.trolley{
  position: absolute;
  //left: 0;
  top: 0px;
  right: 0px;
  font-size: 25px;
  text-align: center;
  z-index: 50;
  @media #{$large-up}{
		font-size:35px;
	}
  a{
  	color:$primary-color;
  }
  .fa.fa-shopping-cart, .fa.fa-heart{
  	padding-top:12px;
  		@media #{$large-up}{
  			padding-top: 36px;
  			font-size: 22px;
  		}	
  }
}

.empty{
	color:#fff;
	h3{
		padding-top:45px;
		color:#fff;
		text-align: left;
	}
}



li.name{
	@media #{$small-only} { 
	@include horizontal-align;
	}
	@media #{$medium-up} { 
	position:absolute !important;
	left:10px;
	}
	#logo{
		display: block;
		width: 40px;
		margin-top:4px;
		@media #{$large-up}{
		width:75px;
		margin-top:5px;
		}
	}
}

.top-bar-section ul {
  padding-top: 13px;
  padding-right: 25px;
  @media #{$large-up}{
	  padding-top: 23px;
	  padding-right: 25px;
	  padding-right: 0px;
  }
}



.top-bar-section ul li>a, .top-bar-section ul li{
	background:none !important;
	text-rendering: geometricPrecision;
}
.top-bar-section a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-weight: 100;
	line-height:normal !important;
	//text-shadow: 0 0 1px rgba(255,255,255,0.3);
}
.top-bar-section li a {
	line-height:normal !important;
	}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.top-bar-section a:hover,
.top-bar-section a:focus {
	outline: none;
	background:none !important;
}
/* Effect 16: fall down */
.top-bar-section a {
	color: #aaa !important;
	//text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

.top-bar-section li.active a {
	color:$primary-color !important;
}

.top-bar-section a::before {
	color: #000;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.top-bar-section a:hover::before,
.top-bar-section a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}


.top-bar-section li.active a:hover::before {
	display:none;
}


.clear{
	clear:both;
}

.nav-activator{
	position:absolute !important;
  z-index: 2;

}
.title-area{
	@media #{$medium-up} { 
	float:right !important;
	}
}

.top-bar .button, .top-bar button {
  position: relative;
  top: 0px !important;
}



$transition: .3s;// increase this to see the transformations happen in slow motion
$button-size : 2rem; 
//common to all three-liners
.top-bar button.lines-button{
//	padding:0px;
//	margin:0px;
}

.lines-button {
  padding: $button-size/1.5 $button-size/1.8 !important;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  background:none;
  font-weight:normal;
  outline:none;
  -webkit-font-smoothing:antialiased;
  border-radius: $button-size/7;
/* */
  &:hover {
    opacity: 1;
  }
  &:active {
    color:$black !important;
    transition: 0;
  }
}
//common to all three-liners
@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/8; //Line Thickness
  background: $primary-color;
  border-radius: 1px; 
  transition: $transition;
}
//common to all three-liners
.lines {
  @include fix-ios-glitch;
  @include line;
  position: relative; 

  &:before, &:after {
   @include line;
    position: absolute;
    left:0;
    content: '';
    -webkit-transform-origin: $button-size/14 center;
            transform-origin: $button-size/14 center;
  }
  &:before { 
    top: $button-size/4; 
  }
  &:after { 
    top: -$button-size/4; 
  }
}

//common to all three-liners
.lines-button:hover {
   background:none;
  .lines {
    &:before { 
      top: $button-size/3.5; 
    }
    &:after { 
      top: -$button-size/3.5; 
    }

  }
}
.lines-button:focus{
    background:none;  
}
.lines-button.close {
  -webkit-transform: scale3d(.8,.8,.8);
          transform: scale3d(.8,.8,.8);
}
// for both the arrow up and left icons
.lines-button.arrow.close {
    .lines {
      &:before,
      &:after {
        top: 0;
        width: $button-size/1.8;
      }
      &:before { 
        -webkit-transform: rotate3d(0,0,1,40deg); 
                transform: rotate3d(0,0,1,40deg); 
      }
      &:after { 
        -webkit-transform: rotate3d(0,0,1,-40deg); 
                transform: rotate3d(0,0,1,-40deg); 
      }
    }
}


//three-lines to x
.lines-button.x.close{
  .lines {
    background: transparent;
    &:before, &:after{
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      top:0;
      width: $button-size;
    }
    &:before{
      -webkit-transform: rotate3d(0,0,1,45deg); 
              transform: rotate3d(0,0,1,45deg); 
              background-color: #000;
    }
    &:after{
      -webkit-transform: rotate3d(0,0,1,-45deg); 
              transform: rotate3d(0,0,1,-45deg); 
              background-color: #000;
    }
  }
}
