.slider__interchange {
  .cycle-slideshow {
    height: auto;
    display: block;
    max-height:550px;
    overflow:hidden;
    width:100%;
    position: relative;

    @media #{$large-up} {
      margin-bottom: 3%;
      max-height: 700px;
    }

    .cycle-slide {
      height: auto;
      width: 100%;
      padding: 0; display: block;
      position: absolute; top: 0; left: 0;

      a {
        pointer-events:none;
      }

      img {
        height:auto;
        width: 100%;
        padding: 0; display: block;
      }
    }

    /* caption */
    .cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700;  }

    /* overlay */
    .cycle-overlay { 
      position: absolute; bottom: 0; width: 100%; z-index: 600;
      background: black; color: white; padding: 15px; opacity: .7;
      text-transform:uppercase;
      font-size:23px;
      font-weight:100;
      letter-spacing: -1px;
      pointer-events:none;

      @media #{$large-up} {
        background:none;
        bottom:15%;
        opacity: 1;

        p.title {
          opacity: 1;
          font-size:95px;
          margin-bottom:0px;
          padding-bottom:0px;
          line-height:95px;
          letter-spacing:-6px;
          text-transform:uppercase;
          font-weight:100 !important;
          font-style: normal;
        }

        p.title:after{
          display: none;
        }

        p {//descritption
          font-size:25px;
          letter-spacing: 0px;
          text-transform: none;
          font-style: italic;
          font-weight:100 !important;
          span {
            font-style:italic;
          }
        }

        p:after {
          @media #{$large-up} {
            font-family:'fontawesome';
            content:$fa-var-angle-right;
            font-size:27px;
            margin-left:15px;
            font-weight:100;
          }
        }
      }

      div {
        max-width: $row-width;
        margin:0 auto;
      }

      div:after {
        font-family:'fontawesome';
        content:$fa-var-angle-right;
        font-size:27px;
        margin-left:15px;
        font-weight:100;
        @media #{$large-up} {
          display:none;
        }
      }
    }
  }
}

