.blog__articles {
  figure.effect-bubba {
    position: relative;
    float: left;
    overflow: hidden;
    margin:0;
    margin-bottom:$column-gutter / 2;
    max-height: 150px;
    width: 100%;
    background: #fff;
    text-align: center;
    cursor: pointer;
    @media #{$medium-up}{
      margin-bottom:$column-gutter;
    }
  }

  figure.effect-bubba figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  figure.effect-bubba figcaption::before,
  figure.effect-bubba figcaption::after {
    pointer-events: none;
  }

  figure.effect-bubba figcaption,
  figure.effect-bubba figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Anchor will cover the whole item by default */
  /* For some effects it will show as a button */
  figure.effect-bubba figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }

  figure.effect-bubba h3 span {
    font-weight: 800;
  }

  figure.effect-bubba h3,
  figure.effect-bubba p {
    margin: 0;
    color:#fff;
    font-weight:100;
  }

  figure.effect-bubba p {
    letter-spacing: 1px;
    font-size: 68.5%;
    font-style:italic;
  }

  figure.effect-bubba img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    width:100%;
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    min-height:150px;
  }

  figure.effect-bubba figcaption::before,
  figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
  }

  figure.effect-bubba figcaption::before {
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
  }

  figure.effect-bubba figcaption::after {
    border-right: 1px solid $primary-color;
    border-left: 1px solid $primary-color;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
  }

  figure.effect-bubba h3 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,18px,0);
    transform: translate3d(0,18px,0);
    @include text-shadow(rgba(black, 0.5) 0px 1px 0px);
    font-weight:100;
  }

  figure.effect-bubba p {
    //padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
  }

  figure.effect-bubba:hover figcaption::before,
  figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);

  }

  figure.effect-bubba:hover h3,
  figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
    color:$primary-color;
    text-shadow:none !important;
  }

  figure.effect-bubba a:hover img, figure.effect-bubba a.flipInY:hover img{
    opacity: 0.1 !important;
  }
}

